html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Lo siguiente define la grilla y sus posiciones (más alguna propiedad extra) */
#wrapper {
    max-width: 100%;
    height: 100vh;
    text-align: center;
}

.banner-header {
    grid-area: banner-header;
}

.bio {
    grid-area: bio;
    text-align: center;
}

.sidePhoto {
    grid-area: sidePhoto;
    align-self: center;
    visibility: hidden;
}

.footer {
    grid-area: footer;
}

/* Hasta acá */


.bottomBorder {
    border-bottom: 2px solid black;
    width: 100%;
}

.bann {
    position: absolute;
    top: 80%;
    left: 50%;
}

.banner-img {
    max-height: 500px;
    max-width: 100%;
    margin-bottom: -8px;
}

.header-container {
    position: relative;
    text-align: center;
    color: white;
    background-color: black;
    font-family: 'Quintessential', cursive;
    font-size: 1em;
}

.marginExpand {
    margin: 130px 0;
}

.marginExpandSecond {
    margin: 80px 0 20px 0;
}

.fieldWidth {
    width: 20vw;
    background-color: rgb(240, 240, 240);
}

.img-fit {
    width: 80%;
}

.main__div1--flex {
    display: flex;
    justify-content: space-around;
    border-top: solid 2px black;
}

.body__nav--marginexppand {
    margin-bottom: 2rem;
}

.body__p--marginexpand {
    width: 80%;
    margin-left: auto;
    margin-right: auto;


}

.body__p--topborder {
    margin-top: 20px;
    padding-top: 50px;
}

.fotos__div--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
}

.formReorder {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3px;
}

.item {
    margin-top: 20px;
    width: 100%;
    border-radius: 5%;


}

.placeTitles {
    margin: 8% 0 0% 10%;
}

i {
    font-size: 50px;
    color: black;
}

table {
    margin: 0%;
    border: 1px solid rgb(199, 199, 199);
    max-width: 100%;
    font-size: 1em;

}


th {
    border: 1px solid rgb(199, 199, 199);
    padding: 20px;
    background-color: rgb(233, 233, 233);
}

td {
    border: 1px solid rgb(199, 199, 199);
    text-align: center;
    padding: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
    font-weight: bold;
    margin: .5em 0;
    padding: 1em;
    gap: .5em;
}

ul li {
    word-spacing: 3cm;
    display: inline;
    font-size: larger;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: medium;
    color: black;
    line-height: 1.7;
}

h2 {
    width: 25vw;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: inherit;
}

a.whiteLink {
    color: white;
}

a:hover {
    color: rgb(74, 74, 173);
    transition: all 0.15s ease-in-out;
}

.stylingEffect {
    filter: opacity(75%);
    transition: all 0.15s ease-in-out;
    text-align: center;
}

.stylingEffect:hover {
    filter: opacity(100%);
    transform: scale(1.05, 1.05);

}
.gradientContacts {
    background-image: linear-gradient(to right, lightgray, white);
}

.back-full {
    background-color: rgb(56, 50, 14);
}

.container {
    width: 100%;

}

.titlesCenter {
    margin: 0 auto 5% auto
}


footer {
    padding: 10px 0;
    width: 100%;
    height: 40px;
    margin: 0;
    text-align: center;

}

footer span {
    display: block;
    padding: 20px 0px 20px 0px;
    font-weight: bold;
    font-style: normal;
    background-color: lightgray;
}

.signSpan {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: x-large;
}

.initialLetter {
    font-family: 'Dancing Script';
    font-weight: bold;
    font-size: 40px;
    font-style: normal;
}

h2 {
    font-family: 'Bebas Neue', cursive;
}

.center {
    margin: 10% auto;
}

.form-t {
    font-weight: bold;
}

.sectionOrder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

@keyframes suscribeTitle {
    0% {
        background-color: black;
    }

    25% {
        background-color: rgb(90, 30, 146);
    }

    50% {
        background-color: rgb(31, 31, 124);
    }

    75% {
        background-color: rgb(100, 19, 36);
    }

    100% {
        background-color: rgb(14, 41, 30);
    }
}

.suscribeTitle {
    width: 150px;
    height: auto;
    color: white;
    text-align: center;
    background-color: black;
    animation-iteration-count: 20;
    animation-name: suscribeTitle;
    animation-timing-function: linear;
    animation-duration: 7s;
    animation-delay: 1s;
}

@media screen and (min-width: 700px) {
    .item {

        width: 700px;
        height: 500px;


    }
}

@media screen and (min-width: 650px) {
    #wrapper {
        display: grid;
        grid-template-areas:
            "banner-header banner-header"
            "bio           sidePhoto"
            "footer        footer"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        column-gap: 3rem;
        row-gap: 6rem;
        max-width: 100%;
        height: 100vh;
        text-align: center;
    }

    .sidePhoto {
        visibility: visible;
    }

    .header-container {

        font-size: 1.5em;
    }

    ul {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (min-width: 450px) {
    table {
        margin: 40px auto;
        border: 1px solid rgb(199, 199, 199);
        max-width: 600px;
        font-size: 20px;
    }

    .container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
    }

    .body__p--marginexpand {
        margin: 2% auto 10% auto;
    }
}