.stylingEffect {
    filter: opacity(75%);
    transition: all 0.15s ease-in-out;
    text-align: center;
    &:hover {
        filter: opacity(100%);
        transform: scale(1.05, 1.05);
    }
}

@keyframes suscribeTitle {
    0% {
        background-color: black;
    }

    25% {
        background-color: rgb(90, 30, 146);
    }

    50% {
        background-color: rgb(31, 31, 124);
    }

    75% {
        background-color: rgb(100, 19, 36);
    }

    100% {
        background-color: rgb(14, 41, 30);
    }
}

.suscribeTitle {
    width: 150px;
    height: auto;
    color: white;
    text-align: center;
    background-color: black;
    animation-iteration-count: 20;
    animation-name: suscribeTitle;
    animation-timing-function: linear;
    animation-duration: 7s;
    animation-delay: 1s;
}
