.btn-primary {
    color: #fff;
    background-color: #0f1011;
    border-color: rgb(17, 18, 19);
}
.bg-light {
    background-color: #d6d8d9!important;
}

.nav-link:hover {
    box-shadow: $shadow;
    background-color: rgb(170, 170, 170);
    border-radius: 5%;
    transition: all 0.15s ease-in-out;
}

.nav-link:active {
    transform: scale(0.93);
    box-shadow: 1px 1px 1px gray;
}