.fotos__div--flex {
    @include flex(none, space-around, none);
    flex-wrap: wrap;
    gap: 5px;
}

.formReorder {
    @include flex(column, space-around, none);
    gap: 3px;
}

.formCenter {
    @include flex(column, none, center);
}

.sectionOrder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}