.main__div1--flex {
    display: flex;
    justify-content: space-around;
    border-top: solid 2px black;
}

.fotos__div--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
}

.formReorder {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3px;
}

.formCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionOrder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}