.marginExpand {
    margin: $big-topBot;
}

.marginExpandSecond {
    margin: $mdTop_smBot;
}

.marginExpandThird {
    margin: $md-bot;
}

.img-fit {
    width: 80%;
}

.body__p--marginexpand {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.item {
    margin-top: 20px;
    width: 100%;
}

.fitWidth {
    width: fit-content;
}

.center {
    margin: 10% auto;
}

.placeTitles {
    margin: 8% 0 0% 10%;
}

.xcontainer {
    width: 100%;
}

.titlesCenter {
    margin: 0 auto 5% auto
}