/*COLORES*/

$footer-gray: lightgray;

/* FUENTES */

$section-font: 'Bebas Neue', cursive;
$signature: 'Dancing Script', cursive;

/* MARGINS */

$big-topBot: 8rem 0;
$mdTop_smBot: 5rem 0 1.25rem 0;
$md-bot: 0 0 2.5rem 0;

/* SOMBRAS */

$shadow: 4px 4px 4px grey